*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body{
    width: 100vw;
    height: 100vh;
    color: #f5f5f5;
    background: #f7b731;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100%;
    position: relative;
}

.container-search{
    width: 100%;
    max-width: 432px;
    padding: 0 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
    margin-top: -100px;
}

.container-search__group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    text-align: center;
}

.container-search__icon{
    width: 36px;
    height: 36px;
}

.container-search__title{
    font-size: 32px;
    letter-spacing: 1.2px;
    color: #3d3d3d;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.form{
    margin-top: 16px;
    width: 100%;
}

.form__group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.form__search{
    width: 100%;
    height: 48px;
    border: 1px solid #ddd;
    background: #ededed;
    padding-left: 12px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #232323;
}

.form__submit{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
    cursor: pointer;

}

.form__submit svg{
    stroke: #9d9d9d;
    transition: 0.4s ease-in-out;
}

.form__submit:hover svg{
    stroke:#2d2d2d;
}

.msg{
    display: block;
    width: 100%;
    max-width: 400px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    text-align: center;
}

.msg a{
    display: inline-block;
    text-decoration: none;
    color: #303030;
}

.msg a:hover{
    color: #111;
}

/* section-weather */

.section-weather{
    width: calc(100% - 32px);
    max-width: 400px;
    height: auto;
    margin: 0 16px;
    padding: 16px;
    background: #f5f5f5;
    color: #303030;
    order: 2;
    margin-top: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 150px;
}

.weather-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    color: #444;
}

.weather-wrapper__close{
    position: absolute;
    right: -16.5px;
    top: -15px;
    cursor: pointer;
}

.weather-wrapper__close:hover{
    filter: brightness(0.7);
}

.weather-wrapper__close svg{
    width: 22px;
    height: 22px;
    fill: #f7b731;
}

.weather-wrapper__city{
    flex: 1;
}

.weather-wrapper__city h3{
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.weather-wrapper__temperatura{
    flex: 1;
    margin: 22px 0;
}

.weather-wrapper__temperatura h2{
    font-size: 22px;
    text-transform: uppercase;
}

.weather-wrapper__info-more{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 16px;
}

.weather-wrapper__col{
    width: calc(100% / 2);
    gap: 8px;
}

.weather-wrapper__minmax, .weather-wrapper__wind, .weather-wrapper__data, .weather-wrapper__umidade{
    font-weight: 600;
    color: inherit;
    margin-bottom: 8px;
}

.weather-wrapper__wind span:first-child, 
.weather-wrapper__data span:first-child, 
.weather-wrapper__umidade span:first-child{
    font-weight: 400;
    color: inherit;
}

.weather-wrapper__minmax{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.weather-wrapper__minmax span{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.weather-wrapper__minmax svg{
    height: 18px;
    width: 18px;
    stroke-width: 2.5px;
    margin-right: -3px;
    stroke: #f7b731;
}

.weather-wrapper__weekday{
    width: 100%;
    height: auto;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-wrapper__weekday .dayName{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

.weather-wrapper__weekday .temperatura-minmax{
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}



@media (max-width: 450px){
    .container-search{
        margin-top: -140px;
    }
    .section-weather{
        margin-top: 165px;
    }
    .weather-wrapper__weekday .weather-wrapper__dia:last-child{
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 4px;
    }
}

@media (max-width: 360px){
    .weather-wrapper__weekday .weather-wrapper__dia:last-child, .weather-wrapper__weekday .weather-wrapper__dia:nth-child(4){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% / 2);
        margin-top: 4px;
    }
}

.loading .section-weather{
    overflow: hidden;
    position: absolute;
    display: none;
}

.loading p, .loading span,.loading h2, .loading h3, .loading .dayName{
    background: #555;
    color: #555 !important;
    user-select: none;
    pointer-events: none;
    animation: placeholder .6s ease-in-out alternate infinite;
}

@keyframes placeholder {
    from{
        opacity: .75;
    }
}